[submodule "lib/leveldb"]
	path = lib/leveldb
	url = https://github.com/google/leveldb.git
[submodule "lib/libmini"]
	path = lib/libmini
	url = ssh://baoxue@localhost:29418/libmini.git
[submodule "lib/libcomm"]
	path = lib/libcomm
	url = http://52.8.102.37/network/libcomm.git
[submodule "lib/tpl"]
	path = lib/tpl
	url = https://github.com/troydhanson/tpl.git
[submodule "lib/msgpack-c"]
	path = lib/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
